<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simplest SLP Faucet</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="address" type="text" class="ghost-input" placeholder="Enter a Simple Ledger Address" required>
          <input type="submit" class="ghost-button" value="Send Tokens!">
        </form>
        <% if(txid !== null){ %>
          <p><%= txid %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
